h1 {
    text-align: center;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px; /* Ajusta según sea necesario */
    padding: 5px; /* Añade relleno alrededor del tablero */
}

.square {
    border: 1px solid black; /* Añade un borde a cada celda */
    padding: 50px; /* Ajusta según sea necesario */
    text-align: center; /* Centra el contenido dentro de la celda */
}